{% extends "base.html" %}
{% load static %}
{% block content %}
                      
  
  <!-- END  HOME -->
  
  <!-- START ABOUT -->
  <section id="about" class="about_area section-padding">
    <div class="container">
      <div class="section-title text-center">
        <h1>Profile</h1>
        <p>“Backend yo‘nalishida mukammal yechimlar yaratadigan mustaqil dasturchi.”</p>
      </div>      
      <div class="row">          
        <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">          
          <div class="about_img">
            <img src="{% static 'assets/img/profile-pic.png' %}" class="img-fluid" alt="profile-picture" />
          </div>
        </div><!-- / END COL -->    
        <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">  
          <div class="about_info">
            <h4>Intro</h4>
            <h3>
              Hi, my name is  Durdona Akhtamova
              </h3>
            <p><strong>"Men Envatoda loyihalar ustida ishlashni yaxshi ko‘raman. Men dasturchi va veb-dasturchiman, va turli xil sevimli mashg‘ulotlarim orasida veb-ilovalar yaratish alohida o‘rin tutadi."</strong></p>


            <p>Men — tajribali dasturchi va veb-dasturchiman. Asosiy e’tiborim zamonaviy va foydalanuvchi uchun qulay veb-ilovalarni yaratishga qaratilgan. Envatoda loyihalar ustida ishlash menga ilhom bag‘ishlaydi — bu yerda men o‘z g‘oyalarimni real mahsulotlarga aylantiraman va foydalanuvchilar ehtiyojlariga mos innovatsion yechimlar ishlab chiqaman.</p>
          </div>          
          <div class="skills_info">
            <h4>Skills</h4>
            <div class="progress-bar-linear">
              <p class="progress-bar-text">Django 
                <span>75%</span>
              </p>
              <div class="progress-bar">
                <span data-percent="75"></span>
              </div>
            </div>
            <div class="progress-bar-linear">
              <p class="progress-bar-text">HTML CSS
                <span>85%</span>
              </p>
              <div class="progress-bar">
                <span data-percent="85"></span>
              </div>
            </div>
            <div class="progress-bar-linear">
              <p class="progress-bar-text">Python
                <span>70%</span>
              </p>
              <div class="progress-bar">
                <span data-percent="70"></span>
              </div>
            </div>
          </div>
        </div><!-- / END COL -->
      </div><!-- / END ROW -->
    </div><!-- END CONTAINER  -->
  </section>  
  <!-- END ABOUT -->
  
  <!-- START SERVICE -->
  <section id="service" class="service_area section-padding">
     <div class="container">
      <div class="section-title text-center">
        <h1>My interests</h1>
        <p>Veb-ilovalar yaratish — mening eng sevimli mashg‘ulotlarimdan biri. Men foydalanuvchilar uchun qulay, funksional va zamonaviy interfeyslarga ega saytlar ishlab chiqishni yaxshi ko‘raman.

        </p>
      </div>
      <div class="row text-center">          
        <div class="col-lg-4 col-sm-6 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
          <div class="serviceBox sbbr">
            <div class="service-icon"><span class="ti-cup"></span></div>
            <h3 class="title">yutuqlari</h3>
            <p class="description">har hil ko'rik tanlovlar g'olibi</p>
          </div>
        </div><!-- END COL -->      
        <div class="col-lg-4 col-sm-6 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
          <div class="serviceBox sbbr">
            <div class="service-icon"><span class="ti-medall-alt"></span></div>
            <h3 class="title">sovrinlari</h3>
            <p class="description">tanlovlarda qulga kiritgan mukofotlari va sertifikatlari mavjud.</p>
          </div>
        </div><!-- END COL -->      
        <div class="col-lg-4 col-sm-6 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
          <div class="serviceBox sbbr sbbrnone">
            <div class="service-icon"><span class="ti-image"></span></div>
            <h3 class="title">ijtimoiy tarmoqlar</h3>
            <p class="description">instagram va telegramda faol.</p>
          </div>
        </div><!-- END COL -->      
        <div class="col-lg-4 col-sm-6 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
          <div class="serviceBox">
            <div class="service-icon"><span class="ti-crown"></span></div>
            <h3 class="title">Brendlar</h3>
            <p class="description">sifat</p>
          </div>
        </div><!-- END COL -->      
        <div class="col-lg-4 col-sm-6 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
          <div class="serviceBox sblr">
            <div class="service-icon"><span class="ti-key"></span></div>
            <h3 class="title">strategiya</h3>
            <p class="description">hozica uz strategiyalariga ega emas</p>
          </div>
        </div><!-- END COL -->


        <div class="col-lg-4 col-sm-6 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="0">
          <div class="serviceBox">
            <div class="service-icon"><span class="ti-hand-open"></span></div>
            <h3 class="title">Konsalting</h3>
            <p class="description">lorem matnlardan foydalanuvchi.</p>
          </div>
        </div><!-- END COL -->        
      </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
  </section>
  <!-- END SERVICE -->  

  <!-- START FUNFACT -->
  {% endblock content %}