{% extends "base.html" %}
{% load static %}
{% block content %}
                      
  
  <!-- START PORTFOLIOS -->
  <section id="portfolio" class="portfolio_area section-padding">
    <div class="container">
      <div class="section-title text-center">
        <h1>The projects</h1>
        <p>rasmlar.</p>
      </div>      
      <div class="row portfolio_item">                    
        <div class="col-lg-12 text-center">
          <div class="portfolio_filter">
            <ul>
              <li class="active filter" data-filter="all">All</li>
              <li class="filter" data-filter=".design">Design</li>
              <li class="filter" data-filter=".print">print</li>
              <li class="filter" data-filter=".logo">logo</li>
              <li class="filter" data-filter=".marketing">Marketing</li>
              <li class="filter" data-filter=".media">Social media</li>
              <li class="filter" data-filter=".web">Web Details</li>
              <li class="filter" data-filter=".video">Video</li>
            </ul>
          </div>
        </div><!--END COL -->        
        <div class="col-xs-12 col-sm-6 col-lg-4 mix print marketing">    
          <div class="box">
            <img src="{% static 'assets/img/portfolio/1.jpg' %}" alt="">
            <div class="box-content">
              <h3 class="title">Dizayn Qo'nish Sahifa</h3>
              <span class="post">Brendlar, Dizayn</span>
            </div>
            <ul class="icon">
              <li><a href="{% static 'assets/img/portfolio/1.jpg' %}" class="port-icon lightbox" data-gall="gall-work"><i class="fa fa-eye"></i></a></li>
              <li><a href="{% url 'singleprojectdark-page' %}" target="_blank"><i class="fa fa-link"></i></a></li>
            </ul>
          </div>
        </div><!--- END COL -->
        <div class="col-xs-12 col-sm-6 col-lg-4 mix web">    
          <div class="box">
            <img src="{% static 'assets/img/portfolio/2.jpg' %}" alt="">

        <div class="box-content">
              <h3 class="title">Web loyihalari</h3>
              <span class="post">Website, logo</span>
            </div>
            <ul class="icon">
              <li><a href="{% static 'assets/img/portfolio/2.jpg' %}" class="port-icon lightbox" data-gall="gall-work"><i class="fa fa-eye"></i></a></li>
              <li><a href="{% url 'singleprojectdark-page' %}" target="_blank"><i class="fa fa-link"></i></a></li>
            </ul>
          </div>
        </div><!--- END COL -->
        <div class="col-xs-12 col-sm-6 col-lg-4 mix logo">    
          <div class="box">
            <img src="{% static 'assets/img/portfolio/3.jpg' %}" alt="">
            <div class="box-content">
              <h3 class="title">logo company</h3>
              <span class="post">logo,graphics</span>
            </div>
            <ul class="icon">
              <li><a href="{% static 'assets/img/portfolio/3.jpg' %}" class="port-icon lightbox" data-gall="gall-work"><i class="fa fa-eye"></i></a></li>
              <li><a href="{% url 'singleprojectdark-page' %}" target="_blank"><i class="fa fa-link"></i></a></li>
            </ul>
          </div>
        </div><!--- END COL -->
        <div class="col-xs-12 col-sm-6 col-lg-4 mix design web">    
          <div class="box">
            <img src="{% static 'assets/img/portfolio/4.jpg' %}" alt="">
            <div class="box-content">
              <h3 class="title">Digital Marketing</h3>
              <span class="post">Design, Web</span>
            </div>
            <ul class="icon">
              <li><a href="{% static 'assets/img/portfolio/4.jpg' %}" class="port-icon lightbox" data-gall="gall-work"><i class="fa fa-eye"></i></a></li>
              <li><a href="{% url 'singleprojectdark-page' %}" target="_blank"><i class="fa fa-link"></i></a></li>
            </ul>
          </div>
        </div><!--- END COL -->
        <div class="col-xs-12 col-sm-6 col-lg-4 mix print video">    
          <div class="box">
            <img src="{% static 'assets/img/portfolio/5.jpg' %}" alt="">
            <div class="box-content">
              <h3 class="title">Print media</h3>
              <span class="post">Video, print</span>
            </div>
            <ul class="icon">
              <li><a href="{% static 'assets/img/portfolio/5.jpg' %}" class="port-icon lightbox" data-gall="gall-work"><i class="fa fa-eye"></i></a></li>
              <li><a href="{% url 'singleprojectdark-page' %}" target="_blank"><i class="fa fa-link"></i></a></li>
            </ul>
          </div>
        </div><!--- END COL -->
        <div class="col-xs-12 col-sm-6 col-lg-4 mix logo marketing">    
          <div class="box">
            <img src="{% static 'assets/img/portfolio/6.jpg' %}" alt="">
            <div class="box-content">
              <h3 class="title">Logo Marketing</h3>
              <span class="post">social, media</span>
            </div>
            <ul class="icon">
              <li><a href="{% static 'assets/img/portfolio/6.jpg' %}" class="port-icon lightbox" data-gall="gall-work"><i class="fa fa-eye"></i></a></li>
              <li><a href="{% url 'singleprojectdark-page' %}" target="_blank"><i class="fa fa-link"></i></a></li>
            </ul>
          </div>
        </div><!--- END COL -->  
        <div class="col-xs-12 col-sm-6 col-lg-4 mix design media">    
          <div class="box">
            <img src="{% static 'assets/img/portfolio/7.jpg' %}" alt="">
            <div class="box-content">
              <h3 class="title">design agency work</h3>
              <span class="post">logo, graphics</span>
            </div>
            <ul class="icon">
              <li><a href="{% static 'assets/img/portfolio/7.jpg' %}" class="port-icon lightbox" data-gall="gall-work"><i class="fa fa-eye"></i></a></li>
              <li><a href="{% url 'singleprojectdark-page' %}" target="_blank"><i class="fa fa-link"></i></a></li>
            </ul>
          </div>
        </div><!--- END COL -->
        <div class="col-xs-12 col-sm-6 col-lg-4 mix video">


        <div class="box">
            <img src="{% static 'assets/img/portfolio/8.jpg' %}" alt="">
            <div class="box-content">
              <h3 class="title">Video marketing</h3>
              <span class="post">Portfolio, Personal</span>
            </div>
            <ul class="icon">
              <li><a href="{% static 'assets/img/portfolio/8.jpg' %}" class="port-icon lightbox" data-gall="gall-work"><i class="fa fa-eye"></i></a></li>
              <li><a href="{% url 'singleprojectdark-page' %}" target="_blank"><i class="fa fa-link"></i></a></li>
            </ul>
          </div>
        </div><!--- END COL -->
        <div class="col-xs-12 col-sm-6 col-lg-4 mix logo media">    
          <div class="box">
            <img src="{% static 'assets/img/portfolio/9.jpg' %}" alt="">
            <div class="box-content">
              <h3 class="title">Social media</h3>
              <span class="post">logo, design</span>
            </div>
            <ul class="icon">
              <li><a href="{% static 'assets/img/portfolio/9.jpg' %}" class="port-icon lightbox" data-gall="gall-work"><i class="fa fa-eye"></i></a></li>
              <li><a href="{% url 'singleprojectdark-page' %}" target="_blank"><i class="fa fa-link"></i></a></li>
            </ul>
          </div>
        </div><!--- END COL -->        
      </div><!-- / END ROW -->
    </div><!-- END CONTAINER  -->
  </section>  
  <!-- END PORTFOLIOS -->  
    
  <!-- START RESUME -->
  {% endblock content %}