{% extends "base.html" %}
 {% load static %}
 {% block content %}
 <!-- START RESUME -->
 <section id="resume" class="resume_area section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h1>
        Rezyume</h1>
      <p>Talim</p>
    </div>      
    <div class="row">          
      <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
        <h4 class="timeline_title">Talim</h4>
        <div class="single_timeline">
          <h4>3-maktab</h4>
          <span class="active_year">2007</span>
          <span class="active_company">- Kompyuter fanlari bo'yicha bakalavr darajasi.</span>
          <p>Kompyuterni yaxshi tushunishi va dasturcilik sohasi bilan maktabida tanilgan</p>
        </div>
        <div class="single_timeline">
          <h4>Pdasturlash kursi</h4>
          <span class="active_year">2010</span>
          <span class="active_company">- python , django .</span>
          <p>yuqoridagi tillarni 6 oyda mukammal urganish darajasiga yetgan </p>
        </div>
        <div class="single_timeline">
          <h4>Veb-ishlab chiquvchi kurslar</h4>
          <span class="active_year">2012</span>
          <span class="active_company">- python va Django</span>
          <p>shu 2 kala til orqali saytlarni mukammal bajaradi</p>
        </div>            
      </div><!--END COL -->
      <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
      <h4 class="timeline_title">tajriba</h4>
        <div class="single_timeline">
          <h4>Envato Market</h4>
          <span class="active_year">2024</span>
          <span class="active_company">- dasturchi.</span>
          <p>dasturchi oz fursat ichida saytlarni mukammal qila oladi.</p>
        </div>
        <div class="single_timeline">
          <h4>ABC studiyalar</h4>
          <span class="active_year">2025</span>
          <span class="active_company">-  Backend </span>
          <p>Backend dasturi boyica ish yuritadi</p>
        </div>
        <div class="single_timeline single_timeline_mbnone">
          <h4>Digital Web Studio.</h4>
          <span class="active_year">2024 yildan hozirgi kungacha</span>
          <span class="active_company">- kichik dasturchi .</span>
          <p>faoliyatiga kop bulmadi va hozirda ham tajribasini oshirib bormoqda</p>
        </div>            
      </div><!--END COL -->                  
    </div><!-- / END ROW -->
  </div><!-- END CONTAINER  -->
</section>  
<!-- END RESUME -->
{% endblock content %}





